@{
    ViewData["Title"] = "Under Construction";
}

<div class=" text-center  bg-light text-dark p-2">
    <h1>@ViewData["Title"]</h1>
    <h2 class="navbar-brand ml-2">This Page is Under Construction.</h2>
</div>


